body{
    background-color: tan;
    text-align: center;

}
.{
    text-align: center;
}
header{
    background-color: aliceblue;
    height: 100px;;
    text-align:;
    margin-top: 10%;
}


h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
   
}
